@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
*,
 *:before,
 *:after {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
} 

body{
	margin: 0 auto;
	max-width: 960px;
	background-image: url("portal_image/background.jpg");
}
nav ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-family: 'Caveat Brush', cursive;
	list-style: none;
	font-size: 30px;
}

nav ul li{
	margin-right: 50px;
}


nav a:link{
	color: rgba(21,139,211,1);
	text-decoration: none;
	background-color: rgba(255,255,255,1);
	transition: all 250ms cubic-bezier(.17,.67,0,0);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0, 0);
    transition-delay: initial;

}
nav a:visited{
	color: grey;
}
nav a:hover{
	color: white;
	background-color: black;
}
nav a:active{

}
figcaption{
	text-align: center;
}


#logo{
	position:relative;

}


main{
	margin-top: 90px;
	background-color: rgba(255,255,255,0.8);
	border-style: solid;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 90%;
	margin-left: 5%;

}
main figure{
	padding: 4%;

}


.hide{
	display: none;
}

#myself{
	font-family: 'Signika', sans-serif;
	justify-content: space-around;
	flex-direction: row;
	padding: 4%;
}
#mydescription{
	margin-top: 5px;
	margin-left: 60px;
	text-align:left;
	margin-bottom: 4%;
}


@media only screen and (max-width: 518px){
	main{
		border:none;
	}

}
@media only screen and (max-width: 471px){
	nav ul {
		margin-right: -8%;
	}
}
@media only screen and (max-width: 398px){
	nav ul li{
		margin-right: 40px;
	}

}

@media only screen and (max-width: 320px){
	nav ul li{
		font-size: 23px;
	}
	#myself > img{
		width: 100%;

	}


}

